body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    background-image: url("360_F_361018944_HkcCYRsgv14bXoe8MEYxfQoZEG39rdry.jpg");
}

.container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.delete-button {
    background-color: #ff3679f8;
    color: #fff;
    border: none;
    padding: 2px 5px;
    margin-left: 10px;
    cursor: pointer;
}
